.navbar {
    background-color: #563d7c;
}

nav .navbar-brand .yellow
{
    color: yellow;
}

.container {
    padding-top: 20px;
}

.card-title {
    color:darkorchid;
}

#checkinMap { height: 500px; }

video {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}