.navbar {
    background-color: #563d7c;
}

nav .navbar-brand .yellow
{
    color: yellow;
}

.container {
    padding-top: 20px;
}

.card-title {
    color:darkorchid;
}

#checkinMap { height: 500px; }