<%- contentFor('body') %>
<img src="assets/travels.jpg" class="img-fluid" alt="Responsive image">
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-3">myTravelJournal</h1>
        <p>This is your journal to keep track of your travels so that you don't lose any details.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Make check-in</h2>
            <p>Save your current geographic coordinates and weather information such as temperature, rain, humidity, wind, and air quality.</p>
        </div>
        <div class="col-md-4">
            <h2>View check-ins</h2>
            <p>Here you can see in an interactive map all the places you've checked-in.</p>
        </div>
        <div class="col-md-4">
            <h2>Photos</h2>
            <p>It's a page to take pictures and save them along with geographic coordinates and you current mood.</p>
        </div>
    </div>
</div>

<hr class="my-4">
<footer class="container">
    <p>© myTravelJournal 2020</p>
</footer>